{% extends 'base.html' %}
{% block title %}Menu{% endblock %}

{% block content %}
<div style="display: grid; grid-template-columns: auto auto auto auto; justify-content: space-around; gap: 2rem; margin-top: 2rem;">
    {% for d in meals %}
    <div class="card" style="width: 26rem;">
        <img src="{{ d.strMealThumb }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ d.strMeal }}</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}